/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.sensor-item {
  position: absolute;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  top: 210px;
  font-size: 12px;
  left: 320px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.537);
  padding: 7px;
  width: auto;
  height: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: default;
}

#file-name {
  display: none;
}

.sensor-item:active {
  cursor: grabbing;
}

.thermal-box {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.thermal-box-img {
  margin-left: 80px;
  margin-top: 30px;
  width: 1200px;
  height: 792px;
  position: sticky;
  border: black .5px solid;
}

img {
  user-select: none; /* Prevents the image from being selected */
  -webkit-user-select: none; /* For Safari and older Chrome */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
  -webkit-touch-callout: none; /* Prevents callout on touch devices */
}

/* Alternatively, apply to a specific class */
.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
}

.side-panel {
  border: 1px solid black;
  background-color: #86afc7;
}

#controls {
  width: auto;
}

#sensors {
  position: relative;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  justify-content: left;
}

.thermal-box-container {
  position: relative;
  width: 100%;
  height: auto;
}

.sensor-container {
  top: 120px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.main-container {
  display: flex;
}

.side-toolbar {
  width: 80px;
  border-right: 1px solid #ddd;
}

.whiteboard-container {
  flex-grow: 1;
  background-color: antiquewhite;
  position: relative;
}

.right-side-panel {
  width: 300px;
  border-left: 1px solid #ddd;
  position: absolute;
  right: 0;
  background-color: #fcfcfc;
  top: 0;
  height: 100%;
}

/* YourStyles.css */
/* YourStyles.css */

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Auto-adjust column width */
  gap: 16px; /* Space between items */
  padding: 16px;
}

/* Optional: Add a max-width to limit the grid's maximum width */
.gridContainer {
  max-width: 100%; /* Adjust this as needed */
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

